{% extends 'main.html' %}
{% load static %}
{% block content %}



{% for group in request.user.groups.all %}
{% if group.name == 'admin' %}
<br>
<div class="row m-0">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer username</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
                {% for i in Customer %}
                <tr>
                    <td><a class="btn btn-info" href="{% url 'viewuser' i.id %}">view</a></td>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>BLOGS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Blogs</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Blog_Type</th>
                    <th>Delete</th>
                </tr>
                {% for i in blogs %}
                <tr>
                    <td><a class="btn btn-info" href="">view</a></td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.blog_type}}</td>
                    <td><a class="btn btn-danger" href="{% url 'deleteblog' i.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}


</div>

<!-- <div class="col-md-7">
    <h5>EXISTING PROPERTIES</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">PROPERTIES</a>
        <table class="table table-sm">
            <tr>
                <th>Username</th>
                <th>Product</th>
                <th>Date Orderd</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for i in Property %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.property_type}}</td>
                <td>{{i.date_created}}</td>
                <td>{{i.status}}</td>
                <td><a class="btn btn-primary" href="{% url 'update' i.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_order' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% for group in request.user.groups.all %}
    {% if group.name == 'admin' %}
    <br>
    <h5>DELETED PROPERTIES</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">PROPERTIES</a>
        <table class="table table-sm">
            <tr>
                <th>Username</th>
                <th>Product</th>
                <th>Date Orderd</th>
                <th>ReOpen</th>
            </tr>
            {% for i in Deleted_Properties %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.property_type}}</td>
                <td>{{i.date_created}}</td>
                <td><a class="btn btn-primary" href="{% url 'reopen_order' i.id %}">ReOpen</a></td>

            </tr>
            {% endfor %}

        </table>
    </div>
</div>


{% endif %}
{% endfor %} -->
{% for group in request.user.groups.all %}
{% if group.name == 'admin' %}
<br>
<h5>Contact_us</h5>
<hr>
<div class="card card-body">
    <a class="btn btn-primary  btn-sm btn-block" href="">CONTACTS</a>
    <table class="table table-sm">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
        </tr>
        {% for i in contact %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.message}}</td>

        </tr>
        {% endfor %}

    </table>
</div>
</div>


{% endif %}
{% endfor %}



{% endblock %}